n8n-docker/workflows/ceo-agent-trigger.json
{
  "name": "CEO Agent Daily Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 1 * * *" }]
        }
      },
      "id": "cron-trigger",
      "name": "Daily 04:00 Riyadh",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXTJS_WEBHOOK_URL_BASE }}/api/cron/run-ceo-agent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-cron-secret", "value": "={{ $env.CRON_SECRET }}" }
          ]
        },
        "options": { "timeout": 30000 }
      },
      "id": "trigger-ceo",
      "name": "Trigger CEO Agent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "chat_id", "value": "={{ $env.TELEGRAM_CHAT_ID }}" },
            { "name": "text", "value": "=🤖 CEO Agent triggered\nStatus: {{ $json.status }}\nApproved: {{ $json.summary?.approved ?? 0 }}" },
            { "name": "parse_mode", "value": "HTML" }
          ]
        }
      },
      "id": "telegram-notify",
      "name": "Telegram Notify",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Daily 04:00 Riyadh": {
      "main": [[{ "node": "Trigger CEO Agent", "type": "main", "index": 0 }]]
    },
    "Trigger CEO Agent": {
      "main": [[{ "node": "Telegram Notify", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1", "timezone": "Asia/Riyadh" },
  "tags": [{ "name": "agents" }]
}
